<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <title>jQuery Example</title>
  <script>
    $(document).ready(function() {
      // Execute some code here
    });
  </script>
</head>
<div>
   <%= form_for(:session, url: log_in_path) do |f| %>
    <div class="form-group">
      <%= f.label :email,"Email" %><br />
      <%= f.email_field :email, autofocus: true  %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password" %><br />
      <%= f.password_field :password, autocomplete: "off"  %>
    </div>
    <div class="actions">
      <%= f.submit "Log In" %>
    </div>
    <br>
  <% end %>
  <%= link_to 'Sign In', registrations_path %>
</div>
